@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* ===== LIGHT THEME ===== */
:root {
  --bg-main: #f5f1e8;
  --bg-surface: #ffffff;
  --bg-muted: #f3f4f6;

  --border-color: #d6d3d1;

  --text-primary: #1c1917;
  --text-secondary: #57534e;
  --text-muted: #78716c;

  --accent: #7c3aed;
}

/* ===== DARK THEME ===== */
[data-theme="dark"] {
  --bg-main: #0c0a09;
  --bg-surface: #1c1917;
  --bg-muted: #262221;

  --border-color: #44403c;

  --text-primary: #f5f5f4;
  --text-secondary: #d6d3d1;
  --text-muted: #a8a29e;

  --accent: #a78bfa;
}
body {
  background: var(--bg-main);
  color: var(--text-primary);
}
